.login {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
  background-color: #363a3f;
}

.login > div > button {
  width: 300px;
  background-color: #738adb;
  color: #eff2f5;
  font-weight: 800;
}

.login > div > button:hover {
  background-color: black;
  color: #738adb;
}

.login__heading {
  text-align: center;
  color: #efee;
  margin-bottom: 20px;
}
