.sidebarChannel:hover {
  background-color: #40464b;
}

.sidebarChannel:hover > h6 {
  color: white;
  background-color: #40464b;
}
.sidebarChannel > h6 {
  display: flex;
  padding-left: 15px;
  align-items: center;
  background-color: #2f3135;
  color: gray;
  cursor: pointer;
}

.sidebarChannel__hash {
  font-size: 30px;
  padding: 8px;
}

.sidebarChannel {
  display: flex;
  align-items: center;
  padding-left: 30px;
}
